/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-image: url(../../static/img/hero_mask.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--colors-green);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.cta {
  background-color: var(--colors-dark-grey);
  color: var(--colors-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 0;
  font-weight: 500;
}
