.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
  width: 100%;
  background-color: var(--colors-off-white);
}

html[data-theme='dark'] .features {
  background-color: var(--colors-light-grey);
}

.featureSvg {
  height: 100px;
  width: 100px;
}
