# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by the Operating System
.DS_Store

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog

# Test related files
coverage/