name: dart_frog_gen

on:
  pull_request:
    paths:
      - ".github/workflows/dart_frog_gen.yaml"
      - "packages/dart_frog_gen/lib/**"
      - "packages/dart_frog_gen/test/**"
      - "packages/dart_frog_gen/pubspec.yaml"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/dart_frog_gen.yaml"
      - "packages/dart_frog_gen/lib/**"
      - "packages/dart_frog_gen/test/**"
      - "packages/dart_frog_gen/pubspec.yaml"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/dart_package.yml@5b27fe769681de79d641c0907f9a1ea2106c7416
    with:
      concurrency: 1
      working_directory: packages/dart_frog_gen

  pana:
    defaults:
      run:
        working-directory: packages/dart_frog_gen

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: dart-lang/setup-dart@v1

      - name: Install Dependencies
        run: |
          dart pub get
          dart pub global activate pana
      - name: Verify Pub Score
        run: ../../tool/verify_pub_score.sh
